[submodule "diaries-response"]
	path = diaries-response
	url = git@github.com:rsmaxwell/diaries-response.git
[submodule "diaries-request"]
	path = diaries-request
	url = git@github.com:rsmaxwell/diaries-request.git
