[submodule "diaries-response"]
	path = diaries-response
	url = ../diaries-response.git
[submodule "diaries-request"]
	path = diaries-request
	url = ../diaries-request.git
[submodule "diaries-database-tools"]
	path = diaries-database-tools
	url = ../diaries-database-tools.git
[submodule "diaries-common"]
	path = diaries-common
	url = ../diaries-common.git
