
[submodule "diaries-responder"]
	path = diaries-responder
	url = ../diaries-responder.git

[submodule "diaries-client"]
	path = diaries-client
	url = ../diaries-client.git

[submodule "diaries-web"]
	path = diaries-web
	url = ../diaries-web.git
